{% extends 'base.html.twig' %}

{% block title %}All Products{% endblock %}

{% block body %}
    {% if products %}
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td><a href="/product/{{ product.id }}">{{ product.name }}</a></td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>We don't have any products</p>
    {% endif %}
{% endblock %}
